#langidform {
  @include sans-serif-font;
  font-size: 15px;
}

#results {
  @include sans-serif-font;
  font-size: 15px;
}

.in-sentence {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    font-weight: bold;
  }
}

.search-results {
  margin: 30px 0;
}

.search-sentence {
  margin: 0px;
}

#section_search_results {
  @include sans-serif-font;
  font-size: 15px;
}

button.disabled {
  background-color: #0085A1 !important;
  border-color: #0085A1 !important;
}

.search-list-item {
  margin: 10px 0px;
}